body{
    height:100%;
    overflow:hidden; 
    margin:0px; 
    padding:0px;
    background-image: url(../img/admin.jpg);
    background-size:100%;
}
.top-parent{
    width: 100%;
    height: 60px;
    top: 0px;
}
.top-title{
    width: 70%;
    height: 100%;
    margin-left: 15%;


    border: 1px solid #696;
    text-align: center; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 0px 0px 40% 40%;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
    border-top-color:#efefef;
    background: #EEFFdd;
}
.content{
    width: 100%;
    height: 550px;
}
.content-raduis{
    border: 1px solid #696;
    text-align: center; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 50%;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
}
.content-1{
    width: 100%;
    height: 33%;
}
.content-2{
    width: 100%;
    height: 33%;
}
.content-3{
    width: 100%;
    height: 33%;
}
.content-1-1{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 45%;
    background-color: #DA70D6;
}
.content-2-1{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 25%;
    background-color: #DAA520;
}
.content-2-2{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 30%;
    background-color: #DB7093;
}
.content-3-1{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 35%;
    margin-top: 20px;
    background-color: #696969;
}
.content-3-2{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #A52A2A;
}
.content-1-1:hover{
    box-shadow: #666 0px 10px 10px;
}
.content-2-1:hover{
    box-shadow: #666 0px 10px 10px;
}
.content-2-2:hover{
    box-shadow: #666 0px 10px 10px;
}
.content-3-1:hover{
    box-shadow: #666 0px 10px 10px;
}
.content-3-2:hover{
    box-shadow: #666 0px 10px 10px;
}
.content-text{
    line-height: 150px;
    color: #ffffff;
    font-size: 30px;
}