@charset "UTF-8";
*
{
	margin: 0;
	padding: 0;
}

html,body
{
	width: 100%;
	height: 150%;
}
/* 搜索框 */
.serchBox
{
    position: relative;
    top: 10%;
    left: 10%;
	width: 80%;
	height: 80%;
/* 	background: #BFEFFF; */
	text-align:center;
}

/* .serchBox form
{
	border: 2px solid #F03726;
	max-width: 670px;
} */
.serchBox input
{
	width: 40%;
	height: 46px;
	outline: none;
	font-size: 15px;
/* 	border: none */
}
#serchInput
{
	border: 2px solid #F03726;
}
#serchBtn
{
	position:relative;
/* 	right:26%; */
	width: 10%;
	height: 46px;
	border: 0px none;
/* 	float: center; */
	background: #F03726;
	color: #F5F5F2;
	font-size: 15px;
	cursor: pointer;
}